* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "header" "filter" "main" "footer";
  grid-template-rows: 90px 77px 1fr 90px;
  height: 100vh;
}
body header {
  grid-area: header;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
body header .header_title {
  display: flex;
  gap: 15px;
  align-items: center;
}
body header .header_title img {
  width: 60px;
}
body header .header_title h1 {
  text-transform: uppercase;
}
body header .header_nav #menu-btn {
  display: none;
}
body header .header_nav #menu-btn:checked ~ nav {
  height: 123px;
  padding: 10px;
}
body header .header_nav i {
  font-size: 30px;
}
body header .header_nav nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: red;
  height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
body header .header_nav nav ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}
body .order {
  grid-area: filter;
  background-color: burlywood;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
body main {
  grid-area: main;
  background-color: azure;
}
body main .card_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}
body main .card_container img {
  width: 200px;
}
body footer {
  grid-area: footer;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  body {
    grid-template-areas: "header header header" "filter main main" "footer footer footer";
    grid-template-rows: 90px 1fr 90px;
    grid-template-columns: 200px 1fr;
  }
  body header .header_nav #menu-btn {
    display: none;
  }
  body header .header_nav label {
    display: none;
  }
  body header .header_nav nav {
    display: block;
    position: static;
    background-color: transparent;
    transition: none;
    overflow: auto;
    height: auto;
  }
  body header .header_nav nav ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (min-width: 992px) {
  body {
    grid-template-areas: "header filter filter" "header main main" "footer main main";
    grid-template-rows: 90px 1fr 90px;
    grid-template-columns: 200px 1fr;
  }
  body header {
    flex-flow: column;
    justify-content: flex-start;
    gap: 15px;
  }
  body header .header_nav label {
    display: none;
  }
  body header .header_nav nav {
    display: block;
    position: static;
    background-color: transparent;
    height: auto;
    transition: none;
    overflow: auto;
  }
  body header .header_nav nav ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
  }
  body footer h1 {
    font-size: 1rem;
    overflow: hidden;
    word-wrap: break-word;
  }
}/*# sourceMappingURL=style.css.map */